

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    color: #FEFEFE;
    background: url('/events-mkdotcom/img/bg.png') no-repeat;
    background-size: cover;
    background-position: top;
    font-family: 'Roboto', sans-serif;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
    line-height: 24px;
}

input, button, select, textarea {
    line-height: 24px;
    height: 32px;
}

.navbar-brand {
    font-size: 16px;
    padding: 0;
}

.navbar-brand>img {
    max-height: 100%;
}

.navbar-form {
    margin-top: 7px;
}

.navbar-right img {
    transition: all .5s ease;
    margin-top: 2px;
}

.navbar-right img:hover {
    height: 35px!important;
    margin-top: 0px;
}

.navbar-form {
    border-top: 0;
    border-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sometopmargin {
    margin-top: 20px;
}

.nopadding {
    padding: 0;
}

.modal-open .navbar {
    padding-right: 17px;
}

.modal {
    color: #333;
}

/* Left */

.left {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 4%;
    padding: 16px 8px;
    transition: all .3s ease;
}

.left:hover {
    background: rgba(171, 42, 42, 0.7);
}

.left h2 {
    margin-top: 0;
    margin-bottom: 24px;
}

.left button .glyphicon {
    font-size: 13px;
    margin-right: 6px;
    margin-left: -4px;
}

.left .row {
    line-height: 32px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.left p {
    margin: 0;
}

.left .btn {
    margin: 8px 0;
}

/* Right */

.right button .glyphicon {
    font-size: 16px;
}

.filter-buttons {
    float: left;
}

.sort-buttons {
    float: right;
}

.column {
    background: rgba(0, 0, 0, 0.25);
    padding: 16px;
    margin: 8px 0;
    border-radius: 8px;
    transition: all .3s ease;
    text-align: center;
    background-clip: padding-box;
    border: 4px solid transparent;
}

.column:hover {
    background: rgba(177, 42, 42, 0.7);
    background-clip: padding-box;
    border: 4px solid transparent;
}

.column img {
    max-width: 100%;
}

.column h3 {
    margin-top: 8px;
}

.column button {
    margin-bottom: 4px;
}

.column button .glyphicon {
    color: #001D4A;
}

.image-column img {
    max-width: 60.6%;
}

.glyphicon-star {
    color: gold!important;
    text-shadow: 0px 0px 2px #001D4A;
}

.glyphicon-map-marker {
    color: firebrick;
    margin-top: 8px;
    margin-right: 4px;
    text-shadow: 0px 0px 4px gray;
}

.text-column h3 {
    margin-top: 0;
}

@media screen and (max-width: 480px) {
    .column {
        text-align: center;
    }
    .column img {
        width: 100%;
    }
    .big-image-column img {
        margin-top: 4px;
    }
}

@media screen and (max-width: 365px) {
    .sort-buttons {
        float: left;
        margin-top: 14px;
    }
}



