<img
  [src]="event.eventProfilePicture"
  alt="Event image">
<h3>{{ event.eventName }}</h3>
<button
  type="button"
  (click)="openDetails.next(true)"
  class="btn btn-default">
      <span
        class="glyphicon glyphicon-info-sign"
        aria-hidden="true">
      </span>
</button>
<button
  type="button"
  (click)="favoriteEvent.next(event.id)"
  class="btn btn-default">
      <span
        class="glyphicon glyphicon-star"
        aria-hidden="true">
      </span>
</button>
<a
  [href]="'https://www.facebook.com/events/' + event.eventId"
  target="_blank">
  <button
    type="button"
    class="btn btn-default">
  <span
    class="glyphicon glyphicon-link"
    aria-hidden="true">
  </span>
  </button>
</a>

